<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orgs">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orgs">
        <activity
            android:name=".ui.modules.login.LoginActivityImpl"
            android:exported="true" />
        <activity
            android:name=".ui.modules.cadastro_usuario.CadastroUsuarioActivityImpl"
            android:exported="true" />
        <activity
            android:name=".ui.modules.lista_produtos.ListaProdutosActivityImpl"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.modules.cadastro_produto.CadastroProdutoActivityImpl"
            android:exported="true" />
        <activity
            android:name=".ui.modules.detalhes_produto.DetalhesProdutoActivityImpl"
            android:exported="true" />
        <activity
            android:name=".ui.modules.perfil.PerfilUsuarioActivityImpl"
            android:exported="true" />
        <activity
            android:name=".ui.modules.produtos_usuarios.ProdutosUsuariosActivityImpl"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>